/*Generales*/
html, body{
    background-color: gray;
}
/*Header*/
#header img{
    width: 300px;
}
.ticket{
    color: blue !important;
}

/*Footer*/
#footer{
    background-color: rgb(30, 30, 158);
}
#footer a{
    color: white;
    text-decoration: none;
}